/* Basic Styling */
html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Robot', sans-serif;
	background-image: url('bg.png');
	background-size: cover;

}

.container {
	max-width: 1200px;
	margin-top: -70px;
	padding: 15px;
	display: flex;

}

.left-column{
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #fff;
	padding: 10px 20px ;
	width: 65%;
	position: relative;
	margin-top: 80px;
	height: 550px;
	width: 500px;
}
.right-column{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #fff;
	padding: 5px 30px ;
	margin-left: -25px;
	width: 35%;
	margin-top: 80px;
	height: 550px;
	width: 500px;

}
.left-column img{

	padding-top: 30px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.3s ease;

}
.left-column img.active{
	opacity: 1;

}
.product-description{
	border-bottom: 1px solid #e1e8ee;
	margin-bottom: 20px;
}

.product-description span{
	font-size: 18px;
	color: #358ed7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}
.product-description h1{
	font-weight: 900;
	font-size: 42px;
	color: #FF4000;
	margin-bottom: 30px;
}
.product-description p{
	font-size: 16px;
	font-weight: 300;
	color: #86939e;
	line-height: 24px;
}
.product-color span,
.cable-config span {
	font-size: 14px;
	font-weight: 400;
	color: #86939e;
	margin-bottom: 20px;
	display: inline-block;
}
.product-color{
	margin-bottom: 30px;

}
.color-choose div{
	display: inline-block;
}
.color-choose input[type="radio"] {
	display: none;
}
.color-choose input[type="radio"] + label span {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: -1px 4px 0 0 ;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}
.color-choose input[type="radio"] + label span{
	border: 2px solid #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
.color-choose input[type="radio"]#red + label span {
	background-color: #c91524;
}
.color-choose input[type="radio"]#blue + label span {
	background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
	background-color: #323232;
}
.color-choose input[type="radio"]#yellow + label span {
	background-color: yellow;
}
.color-choose input[type="radio"]#green + label span {
	background-color: green;
}
.color-choose input[type="radio"]#purple + label span {
	background-color: purple;
}
.color-choose input[type="radio"]#orange + label span {
	background-color: #DF3A01;
}
.color-choose input[type="radio"]#pink + label span {
	background-color: #FF1493;
}
.color-choose input[type="radio"]:checked + label span{
	background-image: url(check-icn.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.cable-choose{
	margin-bottom: 20px;
}
.cable-choose button {
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	padding: 13px 20px;
	font-size: 14px;
	color: #5e6977;
	background-color: #fff;
	cursor: pointer;
	transition: all .5s;
}
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus{
	border: 2px solid #86939e;
	outline: none;
}


.product-price {
	display: flex;
	font-size: 26px;
	font-weight: 300;
	color: #434740;
	margin-right: 20px;
}
.product-price span{
	margin-right: 20px;
	color: red;
	font-weight: 750;
}
.cart-btn a{
	display: inline-block;
	background-color: #0087e6;
	border-radius: 6px;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	transition: all .5s;
	margin-top: -12px;
	font-weight: 800;
}
.cart-btn a:hover{
	background-color: blue;
	text-decoration: none;
	color: #fff;
}

@media (max-width: 940px) {
	.container {
		flex-direction: column;
		margin-top: 60px;
	}
	.left-column,
	.right-column {
		width: 100%;
	}

	.left-column img{
		width: 360px;
		right: 0;
		top: -65px;
		left: initial;
	}
}
@media (max-width: 535px){
	.left-column img {
		width: 220px;
		top: -85px;
	}
}